@import 'styles/_variables';

.board__item {
  width: $border-item-size;
  height: $border-item-size;
  margin: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 0 #bbb;
  // box-shadow: none;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  // animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  // background-color: #e74c3c;
  border-radius: 8px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.shortest-num {
  padding-top: 8px;
  text-align: center;
  // font-size: 28px;
  color: whitesmoke;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(238, 104, 217, 0.75);
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(238, 127, 36, 1);
  }

  100% {
    transform: scale(1.0);
    // background-color: rgba(17, 104, 217, 0.75);
    background-color: rgba(255, 127, 36, 1);
  }
}

@keyframes shortestAnimation {
  0% {
    background-color: #e74c3c;
    border-radius: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    background-color: #ebedee;
    border-radius: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    // background-color: #e74c3c;
    border-radius: 8px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}